@import "variables";

html,
body,
#root,
.App {
  min-height: 100vh;
}

body {
  background-color: $white;
  color: $black;
  margin: 0;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
}

#no-scroll {
  @media screen and (max-width: 768px) {
    position: fixed;
    left: 0;
    right: 0;
  }
}

.main-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}


